.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

body {
	background-image: url("../images/spiration-light.png");
}

header {
}

h1 {
	width: 210px;
	height: 50px;
	background-color: #4aaaa5;
	padding: 25px 25px 0px 25px;
	float: left;
	font-size: 21px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-bottom: 0px;
	margin-left: 350px;
	color: white;
}


nav {
	width: 600px;
	background-color: #ffffff;
	float: right;
	text-align: right;
	padding: 25px 50px 25px 50px;
	margin-top: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-right: 300px;
}

a {
	color: #cccccc;
	text-decoration: none;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0px 25px;
	color: gray;
}

ul {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0px 25px 25px 50px;
	color: gray;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid;
	border-color: #cccccc;
	margin-right: 50px;
	margin-left: 25px;
	padding-bottom: 25px;
	color: #4aaaa5;
	font-size: 35px;
}

h3 {
	border-bottom: solid;
	border-color: #cccccc;
	color: #4aaaa5;
	padding-bottom: 10px;
	font-size: 19px;
}

.mainphoto {
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	border-radius: 25px;}

#top {
	background-color: #ffffff;
	border-bottom: solid;
	border-color: #cccccc;
}

#middle {
	width: 960px;
	margin: 0 auto;
}

#main-info {
	width: 650px;
	float: left;
	border: solid;
	border-color: #cccccc;
	margin: 25px 25px 50px 0px;
	background-color: white;
}

#connect-info {
	width: 170px;
	border: solid;
	border-color: #cccccc;
	text-align: center;
	padding: 10px;
	background-color: white;
	float: left;
	margin: 25px;
}

#photo-text {
	float: left;
}

footer {
	background-color: #666666;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 50px 50px 10px 50px;
	font-size: 10px;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: 10px;
	text-align: center;
}

html, 
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}


.link1 {
	width: 25%;
	margin-right: 5px;
}

.link2 {
	width: 25%;
}

.link3 {
	width: 25%;
	margin-left: 5px;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: gray;
	margin: 25px;	
}

#contact-form {
	border-style: solid;
	border-color: #cccccc;
	width: 650px;
	margin-top: 25px;
	float: left;
	background-color: white;
	margin: 25px 25px 50px 0px;
}

.name {
	margin: 5px 0 25px 0;
	width: 550px;
	border-radius: 1px;
	border-color: #cccccc;
	border-width: 1px;
	padding: 5px;
}

.email {
	margin: 5px 0 25px 0;
	width: 550px;
	border-radius: 1px;
	border-color: #cccccc;
	border-width: 1px;
	padding: 5px;
}

.message {
	margin: 5px 0 25px 0;
	width: 550px;
	height: 200px;
	border-radius: 5px;
	border-color: #cccccc;
	padding: 5px;
}

.submit {
	background-color: #4aaaa5;
	padding: 10px 25px;
	color: white;
	border-style: none;
	font-size: 18px;
}

#portfolio {
	border-style: solid;
	border-color: #cccccc;
	width: 650px;
	margin-top: 25px;
	float: left;
	background-color: white;
	margin: 25px 25px 50px 0px;
}